@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Doto:wght@100..900&display=swap');
:root{
    --dark-background:#191919;
    --main-text:#DFF124;
}
.lightmode{
    --dark-background:#F0F0F0;
    --main-text:#1f67f1;
}
body{
    margin:0;
    background:var(--dark-background);
}
.intro{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrapper{
    overflow-x:hidden;
    display: block;
    
}

.name{
    color: var(--main-text);
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size:240px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    line-height:0.9;

}

@media screen and (max-width:800px) {
    .name{
        font-size: 120px;
    }
}