@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Doto:wght@100..900&display=swap');
:root{
    --dark-background:#191919;
    --main-text:#DFF124;
    --quote-text:#F0F0F080;
    --description-text:#F0F0F0;
}
.lightmode{
    --dark-background:#F0F0F0;
    --main-text:#1f67f1;
    --quote-text:#12121280;
    --description-text:black;
}
body{
    margin:0;
    background:var(--dark-background);
}
.intro{
    height:100vh;
    display:flex;
    flex-direction:column;
    padding-top:10vw;
    align-items: center;
    
}
.wrapper{
    overflow-x:hidden;
    display: block;
    
}
.navbar{
    width: 100%;
    height: clamp(60px, 6vw, 120px);
    min-height: 30px;
    margin-bottom: 10px;
    background: var(--dark-background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.quote{
    margin-top: 30px ;
    text-align: center;
    color:var(--quote-text);    
}
.icon{
    color:var(--main-text);
    width: 60px;
    margin-top:30px;
    
}
.description{
    color:var(--description-text);
    font-family: "DM Sans", sans-serif;

}
.brief{
    margin:60px;
    text-align: center;
    width: clamp(200px, 65vw, 600px);
    font-size: clamp(10px,4vw,18px);
}
.name{
    color: var(--main-text);
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size:240px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    line-height:0.9;
    -webkit-text-stroke: 2px var(--main-text);
    color: transparent;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--main-text),var(--main-text));
    -webkit-background-clip: text;
    background-position: -1100px 0;
    animation: backcolor 3s linear forwards;
    animation-delay: 2s;
    
}
.diamond{
    width:60px;
    color:var(--main-text)
}
/* ------------------- */
.loader{
    position:fixed;
    inset:0;
    background:var(--dark-background);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 50;
    background: var(--dark-background);
    animation:loaderExit 0.8s ease 2.5s forwards;
}

/* signature draw */
.loader svg path{
    fill: none;
    stroke: var(--main-text);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;

    stroke-dasharray: 3000;
    stroke-dashoffset: 6000;

    animation: drawSignature 2s ease forwards;
}

/* handwriting effect */
@keyframes drawSignature{
    to{
        stroke-dashoffset:685;
    }
}

/* loader zoom disappear */
@keyframes loaderExit{
    0%{
        opacity:1;
        transform:scale(1);
    }
    100%{
        opacity:0;
        transform:scale(4);
    }
}
/* ----------------------------------- */
@keyframes backcolor {
    0%{
        opacity: 0.2;
    }
    100%{
        opacity:1;
        background-position: 0 0;
        
    }
}

@media screen and (max-width:710px) {
    .name{
        font-size: 110px;
        background-position: -600px 0;
        animation: backcolor 4s linear forwards;
        animation-delay: 2.4s;
    }
    @keyframes backcolor {
        0%{
            opacity: 0.2;
        }
    100%{
        background-position: 0 0;
        opacity:1;
    }}

    .quote{
        font-size: 13px;
    }
    
}