@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Doto:wght@100..900&display=swap');
:root{
    --dark-background:#191919;
    --main-text:#DFF124;
    --quote-text:#F0F0F080;
    --description-text:#F0F0F0;
    --shade-colour-text:#617272D1;

}
.lightmode{
    --dark-background:#F0F0F0;
    --main-text:#1f67f1;
    --quote-text:#12121280;
    --description-text:black;
    --shade-colour-text:#112925B1;
}
body{
    margin:0;
    background:var(--dark-background);
}
a{
    all: unset;
    padding: 0;
    margin: 0;
}
.intro{
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height:100vh;
    margin-top: clamp(60px, 6vw, 120px);
}

.wrapper{
    overflow-x:hidden;
    display: block;
    
}
.navbar{
    width: 100%;
    height: clamp(60px, 6vw, 120px);
    min-height: 30px;
    margin-bottom: 10px;
    background: var(--dark-background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;

}
.theme-btn{
    font-family: "DM Sans","sans-serif";
    font-size: 13px;
    font-weight: 700;
    padding:4px 14px;
    border: 2px solid var(--main-text);
    border-radius: 40px;
    color: var(--main-text);
    background: var(--dark-background);
    cursor: pointer;
    transition: 0.25s ease;
    margin-right: 20px;
    
}
.theme-btn:hover{
    background: ;
    color: var(--main-text);
}
.edu-item{
    border-bottom: solid 0.2px var(--main-text);
    margin: 15px;
}
.education{
    font-family: "DM Sans";
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.edu-place ,.edu-year{
    color: var(--quote-text);
    font-size: 16px;
}
.education h3{
    color: var(--description-text);
    font-size: 20px;
    
}
.edu-desc{
    color: var(--description-text);
    font-size: 16px;
    line-height: 1.5;
}


.projects{
    font-family:"DM Sans";
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.project-item{
    border-bottom: solid 0.2px var(--main-text);
    margin:15px;
    padding-bottom:10px;

    text-decoration:none;
    display:block;
    transition:0.2s ease;
}

.project-item:hover{
    transform:translateY(-4px);
}

.projects h3{
    color:var(--description-text);
    font-size:20px;
}

.project-place{
    color:var(--quote-text);
    font-size:16px;
}

.project-desc{
    color:var(--description-text);
    font-size:16px;
    line-height:1.5;
}
.quote{
    margin-top: 30px ;
    text-align: center;
    color:var(--quote-text);
    font-family: "DM Sans", sans-serif;   
}
.icon{
    color:var(--main-text);
    width: 60px;
    margin-top:30px;
    
}
.description{
    color:var(--description-text);
    font-family: "DM Sans", sans-serif;

}
.brief{
    margin:60px;
    text-align: center;
    width: clamp(200px, 65vw, 600px);
    font-size: clamp(10px,4vw,18px);
}
.carousel-1{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
   
}

.para{
    color:var(--description-text);
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
}

.about-para1{
    color:var(--shade-colour-text);
    margin: 20px;
    text-align: left;
    font-size: clamp(17px,2.5vw,25px);
}
.about-para2{
    margin: 20px;
    text-align: left;
    font-size: clamp(17px,2vw,20px);

}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    
}
.contact-intro{
    color:var(--description-text);
    margin: 10px;
    font-family: "DM Sans";
}
.contact-info{
    display:grid;
    grid-template-columns: 1fr ;
    justify-content:center;
    gap: 0px;
    
    align-items: center;
    font-family:"DM Sans", sans-serif;
    font-size:16px;
    text-align:center;
}

.contact-info a,
.contact-info p{
    padding:12px 18px;
    border-radius:12px;
    transition:0.25s ease;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contact-info a{
    color:var(--main-text);
    border:2px solid transparent;
}


.contact-info a:hover{
    border:2px solid var(--main-text);
    transform:translateY(-3px);
}
.card-1{
    color:var(--main-text);
    font-family: "Big Shoulders", sans-serif;
    font-size:clamp(50px,20vw,100px);
    font-weight: 900;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: clamp(10px,4vw,20px);

}
.card-2{
    color:rgb(74 74 74);
    font-family: "Big Shoulders", sans-serif;
    font-size:clamp(30px,7vw,50px);
    font-weight: 900;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: clamp(10px,4vw,20px);
    margin-right: clamp(10px,4vw,20px);
}
.carousel-track{
    display: flex;
    width: max-content;
    animation: scroll 14s linear infinite;
}
.carousel-track2{
    display: flex;
    width: max-content;
    animation: scroll 40s linear infinite;
    animation-direction: reverse;
    
}

.carousel-track:hover{
    animation-play-state: paused;
}
.card-1:hover{
    color: var(--description-text);
}
.card-2:hover{
    color: var(--description-text);
}
.group{
    display:flex;
    flex-direction:column;
    width:100%;on:column;
    width:100%;
    margin-top:auto;   
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
    margin-top:auto;   
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
.side-name{
    color: var(--main-text);
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size:120px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    line-height:0.9;
    
}
.name{
    color: var(--main-text);
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size:240px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    line-height:0.9;
    -webkit-text-stroke: 2px var(--main-text);
    color: transparent;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--main-text),var(--main-text));
    -webkit-background-clip: text;
    background-position: -1100px 0;
    animation: backcolor 3s linear forwards;
    animation-delay: 2s;
    
}
.diamond{
    width:60px;
    color:var(--main-text)
}
/* ------------------- */










/*  */
.loader{
    position:fixed;
    inset:0;
    background:var(--dark-background);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 50;
    background: var(--dark-background);
    animation:loaderExit 0.8s ease 2.5s forwards;
     pointer-events:none;
}

/* signature draw */
.loader svg path{
    fill: none;
    stroke: var(--main-text);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;

    stroke-dasharray: 3000;
    stroke-dashoffset: 6000;

    animation: drawSignature 2s ease forwards;
}

/* handwriting effect */
@keyframes drawSignature{
    to{
        stroke-dashoffset:685;
    }
}

/* loader zoom disappear */
@keyframes loaderExit{
    0%{
        opacity:1;
        transform:scale(1);
    }
    100%{
        opacity:0;
        transform:scale(4);
    }
}
/* ----------------------------------- */
@keyframes backcolor {
    0%{
        opacity: 0.2;
    }
    100%{
        opacity:1;
        background-position: 0 0;
        
    }
}

@media screen and (max-width:710px) {
    .name{
        font-size: 110px;
        background-position: -600px 0;
        animation: backcolor 4s linear forwards;
        animation-delay: 2.4s;
    }
    .side-name{
        font-size: 100px;
    }

    .edu-place ,.edu-year,.edu-desc{
        font-size: 14px;
    }
    
    }
    @media (max-width:768px){
    .about-container{
        grid-template-columns: 1fr;
    }
    .education{
        grid-template-columns: 1fr;
}
    .projects{
        grid-template-columns:1fr;
    }
    @keyframes backcolor {
        0%{
            opacity: 0.2;
        }
    100%{
        background-position: 0 0;
        opacity:1;
    }}

    .quote{
        font-size: 13px;
    }
    
}
/*  */
/*  */